body{
    margin: 0;
    font-family: 'Poppins', sans-serif;;
    color: gray;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h4{
    font-size: 20px;
    color: black;
}
.flexible, .third-width{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    padding-top: 50px;
    padding-left: 5%;
    width: 50%;
    font-weight: 600;
}

.half-width img{
    width: 60%;
}
span{
    color: rgb(228, 107, 26);
}
.button{
    text-decoration: none;
    color: white;
    padding: 10px 30px;    
    background-image: linear-gradient(orange,crimson);
    border-radius: 20px;
    transition: all 0.3s ease;
}
.button:hover{
    background-image: none;
    color: crimson;
    border: 3px solid red;
}
.about-us{
    background-image: url(images/about-bg.png);
    background-repeat: no-repeat;
    background-position: right;    
}

.recipes .text{
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
}
.third-width .card{
    width:20%;
    padding: 1% 1% 1% 1%;
    margin-left: 8%;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 10px rgb(230, 230, 230);
    transition: all 0.3s ease;
}
.third-width .card:hover{
    transform: scale(1.05);
}
.third-width .card .box img{
    width: 100%;
    border-radius: 10px;
}
